body {
  background-color: rgba(157, 176, 197, 0.1);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #6c6c6c;
}

h1,
h2,
h3,
h4 {
  color: #2d3d4d;
}
a {
  color: #f2761a;
}
.subtitle {
  line-height: 1.5;
  transition: none;
  font-weight: 600;
  background: none;
  border: 0;
  text-decoration: underline;
  color: #f2761a;
  margin: 12px auto 0;
  margin-top: -20px;
}
.modalTitle{
  color: #4a4a4a;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.25;
}
.label {
  color: #4a4a4a;
  font-weight: 600;
}
.smalltext {
  font-size: 12px;
  line-height: 1.083;
  margin-bottom: 0;
}
.clearfix {
  width: 100%;
  clear: both;
}
.button.is-primary {
  background: #f2761a;
}
.button.is-primary.is-hovered,
.button.is-primary:hover {
  background-color: #f2f2f2;
  border-color: transparent;
  color: #2d3d4d;
}
.is-max-smalldesktop {
  max-width: 720px;
  margin: 0 auto;
}
.navbar {
  margin: 0 auto;
}
.step-answers {
  padding: 20px;
}
.help_icon {
  border: 2px solid #f2761a;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin-right: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
}
.step-answers {
  margin-top: 20px;
}
.card {
  min-height: 330px;
}
.card p.card-info {
  display: none;
}
.card-info-icon {
  font-size: 1.5em;
  font-weight: bold;
}
.card-main-icon {
  display: inline-block; /*width:120px;height:120px;*/
  margin: 20px 0;
  color: #f2761a;
}
.card-main-icon .icon {
  width: 50px;
  height: 50px;
  transition: width 0.3s ease, height 0.3s ease;
}
.card-main-icon .icons {
  width: 150px;
  height: 150px;
  color: #f2761a;
  
}
.card-title {
  font-size: 1.5rem;
  font-weight: 450;
  line-height: 25px;
  padding: 0 10px;
}

.card-title-text {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 25px;
  margin: 10px 0;
  padding-top: 30%;
}
 
.card:hover {
  cursor: pointer;
}
.card:hover .card-title p {
  color: #f2761a;
}
.card:hover .card-info {
  display: block !important;
  font-weight: 350;
  opacity: 1;
  padding: 10px;
  margin-top: -25px;
  transition-duration: 0.3s;
  transition-delay: 0.2s;
}
.card:hover .card-info-icon {
  display: none;
}
.card .card-select {
  opacity: 0;
}
.card-select,
.card-selected-icon {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
}
.card-select {
  color: #fff;
  left: 0;
  line-height: 44px;
  transition: background-color 0.3s ease;
}
.card:focus:not(.is-selected) .card-select,
.card:hover:not(.is-selected) .card-select {
  opacity: 1;
}
.card:hover .card-select {
  display: block;
}
.card:focus .card-select,
.card:hover .card-select {
  opacity: 1;
  background: #f2761a;
  color: #fff;
}
.card:hover .card-main-icon .icon {
  width: 55px;
  height: 55px;
}
.card:focus .card-main-icon .icon {
  width: 55px;
  height: 55px;
}
.card:hover .card-main-icon {
  margin: 20px 0 0px 0;
}
.card:focus .card-main-icon {
  margin: 20px 0 0px 0;
}
.card-info-icon {
  border-left: 0;
  height: auto;
  left: 50%;
  bottom: 16px;
  position: absolute;
  right: auto;
  top: auto;
  transform: translateX(-50%);
  width: auto;
  padding: 0;
  color: #eae9e9;
}
.card-info-icon .help_icon {
  border: none;
}

.my-postbox-input #postcode,
.my-postbox-input #dropdown {
  margin-bottom: 10px;
}

/*Calender*/
#myCalendar {
  width: 100%;
}
.vanilla-calendar .vanilla-calendar-week {
  background-color: #f2761a;
}
.vanilla-calendar .vanilla-calendar-date--selected {
  background-color: #f2761a;
}
.vanilla-calendar .vanilla-calendar-date {
  padding: 30px 0;
}

/*Calender ends*/

/*Card types*/

.card-is-1 .card-main-icon .icon {
  width: 170px;
  height: 170px;
  transition: width 0.3s ease, height 0.3s ease;
}
.card-is-1:hover .card-main-icon .icon {
  width: 170px;
  height: 170px;
  transition: width 0.3s ease, height 0.3s ease;
}
.card-is-1:hover .card-main-icon {
  margin-bottom: 20px;
}

.card-is-2 {
  min-height: 340px;
}
.card-is-2 .card-title h3 {
  font-size: 4rem;
  color: #f2761a;
  margin: 50px 0;
}
.card-is-2 .card-title p {
  /*margin-top:40px;*/
}

.card-is-3 {
  min-height: 260px;
}

.card-is-4 {
  min-height: 260px;
}
.card-is-4 .card-price {
  right: 0;
  height: auto;
  display: block;
  position: absolute;
  background: #f2761a;
  color: #fff;
  padding: 5.5px 11px;
}
.card-is-4 .card-main-icon {
  margin: 10px;
}
.card-is-4 .card-main-icon .icon {
  width: 100px;
  height: 100px;
  transition: width 0.3s ease, height 0.3s ease;
}
.card-is-4:hover .card-main-icon .icon {
  width: 100px;
  height: 100px;
  transition: width 0.3s ease, height 0.3s ease;
}
.card-is-4:hover .card-main-icon {
  margin: 10px 0;
}
.card-is-4:hover h3 {
  color: #2d3d4d;
}
.card-is-num {
  min-height: 120px;
}
.card-is-num .card-title h3 {
  font-size: 3rem;
}

/*Success page*/

.step-subtitle .navbar {
  background: #f2f2f2;
  margin: 10px auto;
}
.navbar-link.is-active,
a.navbar-item.is-active {
  color: #0a0a0a;
  border-bottom: 2px solid #ccc;
}
.navbar-link.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
a.navbar-item.is-active,
a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover {
  background-color: #fafafa;
  color: #f2761a;
}
/* .nu-summary-items {max-width:} */
.nu-summary-items .navbar {
  border-radius: 12px;
}
.nu-summary-items .navbar span {
  padding: 0 5px;
}

.nu-filter-items {
  margin: 30px auto;
}
.nu-filter-items .nu-filter-inner {
  background: #d2d2d2;
  display: flex;
  flex: 1 0 auto;
  justify-content: space-between;
  border-radius: 12px;
  padding: 8px;
}

.filter-menu-left {
}
.filter-menu-right {
}
.filter-menu-mob {
  display: none;
}

.all-products .columns {
  display: block;
}
.pro-card-inner .columns .first {
  background: #fff2e9;
}
.pro-card-inner .columns .second {
}
.pro-card-inner .columns .third {
  padding: 0 0px 0 20px;
}
.pro-card-inner .columns {
  display: flex;
}
.pro-image .manuf-img {
  left: 16px;
  max-width: 72px;
}
/*.all-products .coloumns .coloumns{display: block;}
.all-products .columns:not(.is-desktop){display: block;}*/
.pro-card-inner {
  background-color: #fff;
  border-radius: 12px;
  border: 4px solid rgba(157, 176, 197, 0.1);
  overflow: hidden;
}
.pro-specs {
}
.pro-specs-row:first-child {
  border-top: 0px solid #eae9e9;
}
.pro-specs-row {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0;
  border-top: 1px solid #eae9e9;
}
.pro-specs-info {
  max-width: 100px;
  display: flex;
}
.pro-specs-info h3 {
  margin-bottom: 5px;
}
.num-info {
  text-align: right;
  min-width: 50px;
}
.num-info h3 {
  margin-bottom: 5px !important;
  color: #f2761a;
}
.num-info p {
  margin-top: 0px;
  font-size: 12px;
}
.pro-specs-info img {
  height: 32px;
  width: 32px;
}

.price-box {
  width: 90%;
  margin: 20px auto;
}
.price-box-inner {
  position: relative;
}
.pro-card-inner .notification {
  margin-bottom: 10px;
}
.price-box-inner .single-price {
  float: left;
  width: 40%;
}
.price-box-inner .single-price h3 {
  margin-bottom: 0px;
}
.price-box-inner .discounted h3 {
  text-decoration: line-through;
  font-weight: bold;
}
.price-box-inner .original-price {
  float: right;
  width: 40%;
}
.price-box-inner .original-price h3 {
  margin-bottom: 0px;
  text-align: right;
  font-weight: bold;
}
.double-price__divider {
  top: 5px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #2d3d4d;
  font-size: 20px;
  line-height: 1.1;
}
.finance-price span {
  font-size: 10px;
  text-align: right;
  float: right;
}
.finance-price h3 {
  color: #00a56f;
}

/*control pages*/
.all-controls {
  padding: 0 100px;
}
.shopping-bar-onlymob {
  display: none;
}
.card-image .image img {
  max-width: 60%;
  margin: 0 auto;
}
.product-card {
  min-height: 400px;
  flex-basis: 233px;
  background: #fff;
  border-radius: 6px;
}

.product-card-selected {
  border: 2px solid #f2761a;
}
.product-card-label {
  position: absolute;
  padding: 2px 0;
  top: 12px;
  left: 50%;
  min-width: 150px;
  transform: translateX(-50%);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #2d3d4d;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.28;
  font-weight: 700;
}
.product-card-additional-info {
  min-height: 21px;
  padding: 0 10px;
}
.addons-basket hr {
  margin: 5px 0;
}
.product-price-box {
  margin: 10px 0 20px 0;
}
.single-price-total {
  font-size: 40px;
  line-height: 1.1;
  font-weight: 700;
  margin-bottom: 5px;
  color: #2d3d4d;
}
.single-price-subtext {
  margin-bottom: 5px;
}
.shopping-basket-items {
}
.shopping-basket-item {
  display: flex;
}
.shopping-basket-item-inner {
  padding: 15px 0;
  display: flex;
  border-bottom: 0.5px dashed;
}
.shopping-basket-item:last-child .shopping-basket-item-inner {
  border: 0px;
  padding-bottom: 30px;
}
.shopping-basket-product {
  display: flex;
  justify-content: space-between;
}
.shopping-basket-product-name {
  font-size: 17px;
  line-height: 1.18em;
  color: #2d3d4d;
  margin-right: 15px;
  flex: 1 1 auto;
  text-align: left;
}
.shopping-basket-product-price {
  font-size: 20px;
  line-height: 1em;
  letter-spacing: 0.4px;
  color: #2d3d4d;
  text-transform: uppercase;
  white-space: nowrap;
}

.change-boiler-back {
  display: flex;
  justify-content: space-between;
}
.change-boiler-back .left-b {
}
.change-boiler-back .right-b {
}

.shopping-basket-item-firstchid {
  border-bottom: 0.5px dashed;
  padding-bottom: 15px;
}
.shopping-basket-item-firstchid .shopping-basket-item-inner {
  border: 0px;
}

/*Summary page*/

.order-summry-box {
  margin: 0 auto;
  max-width: 940px;
}
.order-summry-box-inner {
}
.order-summry-box-inner .notification {
  background: #ffefe4;
  border-radius: 40px;
  min-height: 90px;
}
.summary-list-boxes {
}
.summary-list-box {
  margin: 30px 0;
}
.summary-list-box-inner {
  background: #f5f5f5;
  padding: 20px;
  border-radius: 20px;
}
.summary-list-box-inner a.subtitle {
  color: #f2761a;
}
.list-items {
  width: 80%;
  float: left;
  margin: 0 10%;
  border-bottom: 0.5px dashed;
  padding: 15px;
}
.list-items .item-icon {
  width: 10%;
  float: left;
  padding-right: 2%;
}
.list-items .item-descrip {
  width: 70%;
  float: left;
}
.list-items .item-descrip p {
  margin: 5px 0 0 0;
}
.list-items .item-price {
  width: 20%;
  float: right;
  text-align: right;
}

.fixed-price-box {
  width: 80%;
  float: left;
  margin: 0 10%;
  padding: 15px;
}
.fixed-price-box-inner .left-info {
  float: left;
  width: 50%;
}
.fixed-price-box-inner .right-info {
  float: right;
  width: 50%;
  text-align: right;
}
.promocode-box {
  width: 100%;
  clear: both;
  margin-bottom: 20px;
}

.when-not-toggle .title {
  color: rgba(157, 176, 197, 0.4);
}

.summary-box {
  margin: 0 auto;
  max-width: 940px;
}
.summary-box-inner {
  background: #f5f5f5;
  padding: 30px 20px;
  border-radius: 20px;
}
.summary-calender {
  /*margin:20px 40px; min-height:200px;*/
}
.summary-box-footer {
  padding: 30px 0;
}

.address-confirm-box {
  margin: 40px auto;
  max-width: 680px;
}
.select {
  width: 100%;
}
.select select {
  max-width: 100%;
  width: 100%;
}

.customer-details-box {
  margin: 0 auto;
  max-width: 680px;
}
.property-type-box {
  margin: 0 auto;
  max-width: 680px;
}
.property-type-box {
  background: #f5f5f5;
  border-radius: 6px;
  margin-bottom: 2rem;
}
.property-type-box-inner {
  padding: 25px;
}
input[readonly] {
  background: #f5f5f5;
  border-radius: 6px;
  padding: 20px 10px;
  text-align: center;
  border: 0px;
  color: #363636;
  min-height: 60px;
}
input[readonly]::placeholder {
  color: #363636;
  opacity: 1;
}
.summary-sub {
  margin: 20px 0;
}

.payment-option-box {
  margin: 0 auto;
  max-width: 680px;
}
.payment-option-box-inner {
  padding: 30px 20px;
  border-radius: 20px;
}
.multi-payment-options {
  min-height: 100px;
  margin-bottom: 40px;
}

/*callout page*/

.call-box-co {
  background: #fff;
  padding: 10px;
  margin: 20px;
  min-height: 200px;
}
.livechat-box-co {
  background: #fff;
  padding: 10px;
  margin: 20px;
  min-height: 200px;
}

/*Model popup css*/

.modal-content {
  top: 0;
  margin: 0;
  position: fixed;
  right: 0;
  background: #fff;
  height: 100%;
}
.modal-content .box {
  height: 100%;
  box-shadow: 0 0;
}
#modal-js-example .my-close {
  top: 20px;
  position: fixed;
}
#modal-js-example .my-close .modal-close {
  background: #f2761a;
  height: 50px;
  position: relative;
  right: 0;
  top: 0;
  width: 50px;
}
#modal-js-example .box {
  padding: 8% 8%;
  position: relative;
  height: 100%;
}
#modal-js-example .modal-content {
  max-height: 100vh;
  width: 50%;
}

/*desktop screen*/

@media screen and (min-width: 46.875em) {
  .card-main-icon {
  }
  .card-main-icon svg {
    width: 100%;
  }

  .card:focus,
  .card:hover {
    outline: 3px solid #f2761a;
  }
  .card-main-icon .icon {
    width: 100px;
    height: 100px;
  }
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }

  .question-nav-back {
    background: #fff;
    border: 3px solid #eae9e9;
    border-left: 0;
    position: "fixed";
    color: #fb6058;
    height: 118px;
    position: fixed;
    padding: 36px 10px 36px 36px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.25s ease;
    z-index: 2;
    /*display:inline-flex;*/
    cursor: pointer;
  }

  .question-nav-back:hover {
    background: #f2761a;
    padding-right: 20px;
    color: #fff;
  }
  .question-nav-back:hover .question-nav-back-text {
    display: initial;
  }
  .question-nav-back-text {
    display: none;
    font-size: 24px;
  }
  .question-nav-back .fa {
    display: inline-block;
    font-size: 24px;
  }
}

/*up to screen 1024*/

@media screen and (max-width: 1023px) {
  .card-is-num .card-title h3 {
    font-size: 2rem;
  }
  .summary-list-box-inner {
    padding: 20px 10px;
  }
  .vanilla-calendar .vanilla-calendar-date {
    padding: 10px 0;
  }
  .list-items {
    width: 100%;
    float: left;
    margin: 0 0;
    padding: 10px 5px;
  }
  .fixed-price-box {
    width: 100%;
    margin: 0;
  }
  .fixed-price-box-inner .left-info p {
    font-size: 1.2rem;
  }
  .fixed-price-box {
    padding: 15px 5px;
  }
  .list-items .item-price .subtitle {
    font-size: 1rem;
  }

  .fixed-price-box-inner .right-info p {
    margin-bottom: 0px;
  }

  #modal-js-example .modal-content {
    max-height: 100vh;
    width: 50%;
  }
  section.less-pad-mob {
    padding: 1.5rem;
  }
  .nu-filter-items {
    margin: 0px 0;
  }
  .nu-summary-items .navbar {
    min-height: 0px;
  }
  .step-subtitle {
    box-shadow: 0 0;
    padding: 0;
  }
  .filter-menu-left,
  .filter-menu-right {
    display: none;
  }
  .filter-menu-mob {
    display: block;
    width: 100%;
  }
  .filter-menu-mob .is-left {
    float: left;
  }
  .filter-menu-mob .is-right {
    float: right;
  }
  .pro-card-inner .columns {
    display: block;
  }
  .nu-filter-items .nu-filter-inner {
    margin: 0 20px;
  }

  /*control pages*/
  .shopping-bar-onlymob {
    display: block;
    background: #fff;
    border-bottom: 1px solid #ececec;
  }
  .shopping-bar-onlymob .mobile-cart-next {
    width: 100px;
    float: right;
    display: flex;
    gap: 10px;
    margin-right: 10px;
  }
  .cart-item {
    font-size: 21px;
    padding: 5px;
    color: #f2761a;
  }

  .addon-products  {
     flex-direction: row;
     flex-wrap: wrap;
     gap: 20px;
  }
}

/*For small devices*/
@media screen and (max-width: 450px) {
  .numTitle{
    font-size: 3rem;
    color: #fb6058;
  }
  .call-box-co {
    margin-bottom: 20px;
  }
  .livechat-box-co {
    margin: 00px;
  }
  .card-is-3 .card-title {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .card-is-3 h3.title {
    font-size: 2rem;
  }
  .card-is-3 p {
    padding: 0px 5px;
  }
  .question-nav {
    display: none;
  }
  .card {
    min-height: auto;
    flex-wrap: wrap;
    align-items: center;
  }
  .card-info-icon .help_icon {
    border: none;
  }
  .card-info-icon {
    border-left: 1px solid #f4f4f4;
    position: relative;
    float: right;
    transform: none;
    width: 10%;
    padding: 0;
    color: #bbb;
    left: 0;
    top: 0;
  }
  .card {
    padding: 0px;
    display: flex;
  }
  .card-main-icon {
    color: #fb6058;
    display: block;
    float: left;
    position: relative;
    width: 15%;
    margin: 5px;
  }
  .card-main-icon .icon {
    width: auto;
    height: auto;
  }
  .card-title {
    width: 70%;
    float: left;
    text-align: left;
    padding-left: 2%;
  }
  .card-info {
    padding: 10px;
  }
  .card:hover .card-info-icon {
    display: block !important;
  }
  .card:hover .card-select {
    display: none !important;
  }

  .card:hover .card-main-icon {
    margin: 0px 5px;
  }
  .card:hover .card-info-icon {
    border: 0px;
  }
  .card:hover .card-info {
    padding-bottom: 10px;
    border-top: 1px solid #f4f4f4;
  }
  #modal-js-example .modal-content {
    max-height: 100vh;
    width: 90%;
  }
  #modal-js-example .my-close {
    left: 6%;
  }

  .card-is-1 .card-main-icon .icon {
    width: auto;
    height: auto;
    transition: width 0.3s ease, height 0.3s ease;
  }
  .card-is-1:hover .card-main-icon .icon {
    width: auto;
    height: auto;
    transition: width 0.3s ease, height 0.3s ease;
  }
  .card-is-4 .card-main-icon .icon {
    width: auto;
    height: auto;
  }
  .card-is-4:hover .card-main-icon .icon {
    width: auto;
    height: auto;
  }
  .card-is-4 .card-info-icon {
    display: none;
  }
  .card-is-4 .card-title {
    flex: 1 1;
  }
  .card-is-4 .card-price {
    position: relative;

    padding: 5.5px 11px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    order: 1;
  }
  .card-info-icon .help_icon {
    border: none;
  }
  #Section14 .columns.is-mobile {
    flex-wrap: wrap;
  }
  .question-nav-back{
    display: none;
  }
}

.card {
  background-color: #fff;
  box-shadow: 0 29px 14px 0 rgb(0 0 0 / 4%);
  color: #4a4a4a;
  max-width: 100%;
  position: relative;
  border: 0;
  outline: 3px solid transparent;
  height: 340px;
  margin: 0 0 15px;
  padding: 5px 0 0;
  text-align: center;
}
