.quoteContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rowContainer {
  display: flex !important;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  justify-items: center;
  margin: 50px;
  padding: 0px 161px;
}
.questionContainer {
  font-size: 2.5rem;
}
.subTitleText {
  font-size: 1.5rem;
  margin-top: -15px;
  margin-bottom: -35px;
  font-weight: 400;
  padding: 0px 123px 25px;
}
.questionNavBack {
  display: none;
}

.mainModalContainer {
}
.modalContainer {
  background-color: #fff;
  box-shadow: 0 29px 14px 0 rgb(0 0 0 / 4%);
  position: absolute;
  height: 99vh;
  width: 30vw;

  z-index: 1;
  top: 0;
  right: 0;
}
.modalContainer::backdrop {
  background: rgba(255, 0, 0, 0.25);
}
/* .closeButton {
  background-color: #f2761a;
  display: flex;
  position: absolute;
  top: 42px;
  height: 50px;
  border-radius: 50%;
  width: 50px;
  justify-content: center;
  align-items: center;
  color: #eae9e9;
  left: -20px;
} */
.closeButton:hover {
  background-color: #f29853;
}
.modalPara {
  margin: 120px 50px;
}

@media screen and (max-width: 1024px) {
  .rowContainer {
    display: flex !important;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    justify-items: center;
    margin: 40px;
    padding: 0px 60px;
  }
  .subTitleText {
    font-size: 1.5rem;
    margin-top: -15px;
    margin-bottom: -35px;
    font-weight: 400;
    padding: 0px 13px 0px;
  }
}

@media screen and (max-width: 960px) {
  .rowContainer {
    display: flex !important;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    justify-items: center;
    margin: 40px;
    padding: 0px 0px;
  }
  .subTitleText {
    font-size: 1.5rem;
    margin-top: -15px;
    margin-bottom: -35px;
    font-weight: 400;
    padding: 0px 13px 0px;
  }
}

@media screen and (max-width: 820px) {
  .rowContainer {
    display: flex !important;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    justify-items: center;
    margin: 30px 0px;
    padding: 0px 110px;
  }
  .modalContainer {
    background-color: #fff;
    box-shadow: 0 29px 14px 0 rgb(0 0 0 / 4%);
    position: absolute;
    height: 99vh;
    width: 30vw;

    z-index: 1;
    top: 0;
    right: 0;
  }
  .subTitleText {
    font-size: 1.5rem;
    margin-top: -15px;
    margin-bottom: -35px;
    font-weight: 400;
    padding: 0px 13px 0px;
  }
}

@media screen and (max-width: 768px) {
  .rowContainer {
    display: flex !important;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    justify-items: center;
    margin: 30px 0px;
    padding: 0px 110px;
  }
  .subTitleText {
    font-size: 1.5rem;
    margin-top: -15px;
    margin-bottom: -35px;
    font-weight: 400;
    padding: 0px 13px 0px;
  }
}

@media screen and (max-width: 600px) {
  .rowContainer {
    display: flex !important;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    justify-items: center;
    margin: 26px;
    padding: 0px 0px;
  }
  .subTitleText {
    font-size: 1.5rem;
    margin-top: -15px;
    margin-bottom: -35px;
    font-weight: 400;
    padding: 0px 13px 0px;
  }
}
@media screen and (max-width: 450px) {
  .questionContainer {
    font-size: 2rem;
  }
  .rowContainer {
    display: flex !important;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    justify-items: center;
    margin: 15px;
    padding: 0px 16px;
  }
  .subTitleText {
    font-size: 1.5rem;
    margin-top: -15px;
    margin-bottom: 0px;
    font-weight: 400;
    padding: 0px 13px 0px;
  }
  .question-nav-back {
    background: #fff;
    border: 3px solid #eae9e9;
    border-left: 0;
    position: "fixed";
    color: #fb6058;
    height: 118px;
    position: fixed;
    padding: 36px 10px 36px 36px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.25s ease;
    z-index: 2;
    /*display:inline-flex;*/
    cursor: pointer;
  }

  .question-nav-back:hover {
    background: #f2761a;
    padding-right: 20px;
    color: #fff;
  }
  .question-nav-back:hover .question-nav-back-text {
    display: initial;
  }
  .question-nav-back-text {
    display: none;
    font-size: 24px;
  }
  .questionNavBack {
    display: block;
    background-color: #fff;
    box-shadow: 0 29px 14px 0 rgb(0 0 0 / 4%);
    width: 100%;
    position: inherit;
    border: 0;
    height: 42px;
    margin-top: 7%;
  }
  .questionNavBack:hover {
    background-color: #f2761a;
  }
  .questionNavBackText {
    color: rgb(84, 80, 80);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 25px;
  }
}
