

.bg-color {
  background-color: #ebeced;
}
.width_500 {
  width: 500px !important;
  margin: auto !important;
}
.all-option {
  background-color: var(--white) !important;
  cursor: pointer;
  box-shadow: none;
  border-radius: 0;
  /* transition: outline 0.3s ease; */
  width: 240px !important;
  padding: 20px;
  height: 300px;
}
.all-option .icon {
  width: 120px !important;
  height: 100px;
  margin: 10px auto;
  transition: 0.2s;
}
.all-option p {
  font-size: 23px;
}

.info-txt {
  display: none;
}
.detl-txt a {
  color: var(--primary) !important;
  font-size: 16px;
}
.show-info .fa-info {
    position: absolute;
    top: 10px;
    right: 10px;
    background: white;
    color: var(--primary);
    padding: 12px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 18px;
}

.all-option2 {
  background-color: var(--white) !important;
  cursor: pointer;
  box-shadow: none;
  border-radius: 0;
  transition: 0.3s;
  width: 240px !important;
  height: 300px;
  padding: 20px;
  position: relative;
  border: 3px solid var(--white);
}
.all-option2 img {
  width: 140px !important;
}
.all-option2 p {
  margin-top: 20px;
  font-size: 23px;
}
.styl1 .all-option2 {
  width: 210px !important;
}
.styl2 .RectangleCard {
  width: 210px;
}
.styl3 {
  max-width: 900px !important;
  margin: 0 auto;
}
.styl4 {
  max-width: 1200px !important;
  margin: 0 auto;
}
.all-option3 {
  background-color: var(--white) !important;
  cursor: pointer;
  box-shadow: none;
  border-radius: 0;
  /* transition: 0.3s; */
  width: 240px !important;
  padding: 20px;
  border: 3px solid var(--white);
}
.your-pcode {
  max-width: 500px !important;
  margin: 0 auto !important;
}
.your-pcode .input {
  max-width: 400px !important;
}
.your-pcode .button {
  width: 150px !important;
}

/* card hover css */
.RectangleCard {
  position: relative;
  width: 240px;
  background-color: var(--white);
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  margin: 10px;
  cursor: pointer;
  border: 3px solid var(--white);
  /* transition: transform 1s cubic-bezier(0.215, 0.61, 0.355, 1); */
  border-radius: 20px;
}
.card__content {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 13px;
    /* text-align: left; */
    box-sizing: border-box;
    background-color: var(--white);
    /* transform: rotateX(-90deg); */
    transform-origin: bottom;
    /* transition: transform 1s cubic-bezier(0.215, 0.61, 0.355, 1); */}
.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}
.card__description {
  /* margin: 10px 0 0; */
  margin: 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}
.nxt-btnn::after {
  content: "\f061";
  font-family: "fontawesome";
  font-style: normal;
  margin-left: 10px;
}
.nxt-btnn2::before {
  content: "\f060";
  font-family: "fontawesome";
  font-style: normal;
  margin-right: 10px;
}
.num-img1 {
  font-size: 80px;
  color: var(--primary);
}
.all-option2 span {
  right: 0;
  top: 0;
  border-radius: 0px 5px 0px 10px;
  height: auto;
  display: block;
  position: absolute;
  background-color: var(--primary);
  color: var(--white);
  padding: 2px 6px;
}

/* modal box css */
.ainfo-box .modal-content {
  background-color: var(--white);
  max-height: 100vh !important;
  padding: 50px 30px;
  position: fixed;
  right: 0;
  height: 100vh;
}
.ainfo-box p {
  margin-bottom: 20px;
}
.ainfo-box .modal-background {
  background-color: rgba(10, 10, 10, 0.5);
}
.ainfo-box .modal-close {
  height: 50px;
  max-height: 50px;
  max-width: 50px;
  min-height: 50px;
  min-width: 50px;
  width: 50px;
  position: absolute;
  top: 3px;
  background: var(--primary);
}
.ainfo-box li {
  margin-bottom: 10px;
}
.ainfo-box li::before {
  content: "\f046";
  font-family: "fontawesome";
  font-size: 20px;
  margin-right: 10px;
  color: var(--primary);
}


.RectangleCard:hover svg{
  transform: translatey(-45px);
  max-width: 80px;
}

.question-nav-back {
  position: fixed;
  bottom: 0;
  left: 0;
  border: none;
  background: var(--primary);
  border-radius: 0 30px 0 0;
  padding: 10px 30px 10px 20px;
}

.question-nav-back span{
  color: white;
}


.heading-bold {
  margin-bottom: 30px;
  font-weight: normal !important;
}

/*-----------Media--Screen----------*/

@media only screen and (min-width: 768px) {
  .RectangleCard:hover {
    /* transform: scale(1.05); */
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
    scale: 1.05;
    
    /* transform: translateY(-10px); */
  }
  .RectangleCard:hover .RectangleCard .all-option {
    scale: 0;
  }
  .RectangleCard:hover .card__content {
    /* transform: rotateX(0deg); */
    transform: translateY(-76%);
  }

  .all-option2:hover {
    /* background-color: var(--white) !important; */
    /* scale: 1.06; */
    box-shadow: 2px 2px 10px #8080801c;
    scale: 1.05;
  }
  .all-option3:hover {
    /* background-color: var(--white) !important; */
    /* scale: 1.06; */
    box-shadow: 2px 2px 10px #8080801c;
    scale: 1.05;
  }
}


@media only screen and (max-width: 768px) {


  .heading-bold {
    font-size: 26px !important;
  }

  .RectangleCard:hover svg{
    transform: translatey(0px);
    max-width: 120px;
  }

  /*-----------Main Page CSS----------*/
  .section h2 {
    margin-bottom: 1.25rem !important;
  }
  .all-option {
    display: flex !important;
    align-items: center;
    flex-direction: row;
    min-width: 100%;
    padding: 10px !important;
    min-height: auto !important;
    box-shadow: none;
    height: auto;
  }
  .all-option .icon {
    width: 60px !important;
    margin: 0;
    transform: 0.3s;
    height: 70px;
  }

  .all-option p, .all-option2 p{
    font-size: 18px;
  }
  .RectangleCard {
    width: 100%;
    flex-wrap: wrap;
    border: 0;
  }

  .show-info i {
    font-size: 30px;
  }
  .all-option p:last-child {
    margin-top: 0;
  }
  .card__content {
    position: static;
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: var(--white);
    transform: rotateX(0deg);
    display: none;
  }
  .card__title {
    display: none;
  }
  .card__description {
    margin: 0;
    font-size: 14px;
    margin: 5px;
    padding: 10px;
    text-align: left;
    background: #f5f7f9;
    border-radius: 0px 0 10px 10px;
  }
  .card__description::before {
    content: "";
    position: absolute;
    background: #f7f7f7;
    width: 15px;
    height: 15px;
    margin-top: -17px;
    transform: rotate(45deg);
    margin-left: 50px;
    border-color: transparent transparent #eae9e9;
  }
  .styl2 .RectangleCard {
    width: 100% !important;
  }
  .all-option2 {
    display: flex !important;
    align-items: center;
    flex-direction: row;
    min-width: 100%;
    padding: 10px !important;
    height: auto !important;
    box-shadow: none;
    border: 0;
    gap: 10px;
  }

  .icon {
    width: 60px;
    height: 60px;
}
  .all-option2 img {
    width: 60px !important;
    margin: 0;
  }
  .all-option2 p {
    text-align: left;
    margin-top: 0;
  }

  .all-option3 {
    width: 120px !important;
    border: 0;
  }
  .num-img1 {
    font-size: 60px;
  }
  /* ***************** */
  .card__content {
    display: none;
  }

  .card__content.show {
    display: block;
  }
  /* ***************** */

  .ainfo-box .modal-content {
    margin: 0 !important;
  }
}

@media only screen and (max-width: 480px) {
  .all-option {
    min-width: 300px !important;
    width: 100% !important;
  }
  .styl2 .RectangleCard {
    min-width: 300px !important;
  }
  .num-img1 {
    font-size: 40px;
  }
  .section h2 {
    font-size: 1.5rem !important;
  }
}

@media only screen and (max-width: 360px) {
  .mstyl1 p {
    width: 135px;
  }
}


.RectangleCard, .all-option2, .all-option3{
    border-radius: 10px;
}

.RectangleCard svg{
    transition: 0.3s;
}

.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 8.5rem !important;
  width: 8.5rem !important;
}

.info-form_spanText__3VzQR{
  color: var(--primary) !important;
}

.info-form_formCard__X5bhP h1 {
  background-color: var(--primary);
  color: white;
}

.button.is-primary {
  background-color: var(--primary) !important;
  border-color: transparent;
  color: #fff;
}
