




/* book survey */

.new-modal-card{
    background: var(--gray) !important;
    z-index: 1;
    padding: 50px;
    height: 100%;
    overflow: auto;
    max-width: 620px;
}

.modal-text-box{
    margin-bottom: 20px;
}

.modal-heading{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
}

.modal-sub-heading{
    font-size: 18px;
}


/* calander css start */

.-disabled{
    background-color: #8080800d !important;
}

.nice-dates-day.-wide:before, .nice-dates-day.-wide:after {
    left: 0 !important;
    right: 0 !important;
}

.nice-dates-day{
    border: solid 4px #f5f7f9;
    border-radius: 15px;
    border-top: 0 !important;
    background: white;
}

.-today{
    background-color: rgba(128, 128, 128, 0.63) !important;
    
}
.-today .nice-dates-day_date{
    color: white;
}

.nice-dates-day:after {
    border: 2px solid var(--primary);
    border-radius: 10px;
}

.nice-dates-day:before {
    background-color: var(--primary) !important;
    z-index: 1 !important;
    border-radius: 10px !important;
    left: 0 !important;
    right: 0 !important;
}

.nice-dates-day:after {
    background: var(--gray);
    border-radius: 10px !important;
    border: none !important;
}

.nice-dates-week-header {
    box-shadow: none;
    display: flex;
    padding: 8px 0;
    margin-top: 5px;
}
.calander-box{
    margin-bottom: 20px;
}


.cal-box .box {
    box-shadow: none !important;
    background: #f5f7f9;
}

.calander-box .box{
    box-shadow: none;
}

.nice-dates-day{
    min-height: 55px;
}

.nice-dates-grid{
    min-height: 342px;
}

button.delete {
    scale: 1.5;
    right: 21px;
    top: 40px;
    position: absolute;
    background-color: var(--primary);
}

.calander-box i{
    color: var(--primary);
}

.date-reset-box{
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: white;
    padding: 15px;
    border-radius: 10px;
}


@media only screen and (max-width: 500px) {

    .modal-heading {
        font-size: 20px;
    }

    .nice-dates-day{
        min-height: 41px;
    }
    
    .nice-dates-grid{
        min-height: 246px;
    }

    .nice-dates-day {
        border: solid 2px white;
        border-radius: 10px;
    }

    .new-modal-card {
        padding: 30px;
    }
}

/* calander css end */



.survey-time-selector{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}


.survey-time-selector .column {
    background: white;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}



.survey-time-selector .column label {
    scale: 1.2;
    cursor: pointer;
    display: flex;
    text-wrap: nowrap;
}

.survey-type-button {
    font-size: 18px;
    font-weight: 500;
    border: none;
    background: transparent;
}

button.is-active {
    color: var(--primary);
}

.postcode-box{
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 16px;
    font-size: 18px;
}

.input, .select select, .textarea {
    background-color: #fff;
    border-color: #dbdbdb80 !important;
    color: #363636;
    padding: 15px !important;
    border-radius: 10px !important;
    height: 100% !important;
}

.submit-button{
    background: var(--primary);
    color: white;
    width: 100%;
    font-size: 20px;
    padding: 13px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

.terms-btn{
    color: var(--primary);
}

.has-text-success{
    color: var(--accent) !important; 
}

.submit-button div{
    color: white;
}

.inc-box{
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.inc-box i {
    width: 0px;
}

.no-data-text{
    color: var(--primary);
}

.r-price-sec{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 10px;
}


