body {
  background-color: rgba(157, 176, 197, 0.1);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #6c6c6c;
}

p {
  margin: 12px 0;
}

h1,
h2,
h3,
h4 {
  color: #2d3d4d;
}

.color-orange {
  color: #f2761a;
}

a {
  color: #f2761a;
}
.modalTitle {
  color: #f2761a;
  font-size: 0.85rem;
  font-weight: 400;
  line-height: 1.25;
  text-underline-position: under;
}
.numCards {
  display: grid;
  grid-template-columns: 34% 34% 34%;
  padding: 10px;
}
.currentCard {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}
.callButton {
  color: rgb(255, 255, 255);
  background: rgb(0, 165, 111);
  width: 150px;
  height: 50px;
  border: 0;
  border-radius: 5px;
  font-size: 15px;
  margin-top: 30px;
}
.text {
  color: var(--primary);
}
.main-span-text {
  color: var(--primary);
}
.chatButton {
  color: rgb(255, 255, 255);
  background: rgb(0, 165, 111);
  width: 150px;
  height: 50px;
  border: 0;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 17px;
}
.callTitle {
  color: var(--primary);
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.subtitle {
  line-height: 1.5;
}

.title-heading {
  margin-bottom: 32px;
  margin-top: 8px;
}

.label1 {
  color: #363636;
  display: block;
  font-size: 1rem;
  padding-bottom: 7px;
}

.product-heading-bold {
  font-size: 1.7rem;
  font-weight: 500;
}
.smalltext {
  font-size: 12px;
  line-height: 1.083;
  margin-bottom: 0;
}

.clearfix {
  width: 100%;
  clear: both;
}

.button.is-primary {
  background: #f2761a;
}

.button.is-primary.is-hovered,
.button.is-primary:hover {
  background-color: #f2f2f2;
  border-color: transparent;
  color: #2d3d4d;
}

.button1.is-primary {
  background: #f2761a;
}

.button1.is-primary.is-hovered,
.button1.is-primary:hover {
  background-color: #f2f2f2;
  border-color: transparent;
  color: #2d3d4d;
}

.is-max-smalldesktop {
  max-width: 720px;
  margin: 0 auto;
}

.navbar {
  margin: 0 auto;
}

.step-answer {
  padding: 10px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.copy-bottom-heading {
  font-family: "Sofia Pro Medium";
  font-size: 1.725rem !important;
  font-weight: 700 !important;
  line-height: 1.2;
}
.step-answers {
  padding: 20px;
  /* display: grid; */
}
.step-smallCard {
  padding: 20px;
}
.viewtextinstallation:hover {
  text-decoration: underline;
  cursor: pointer;
}
.textUnderlineRed:hover {
  text-decoration: underline;
  cursor: pointer;
}

.help_icon {
  border: 2px solid #f2761a;
  border-radius: 50%;
  padding: 0 5px;
  height: 24px;
  width: 25px;
  /* / margin-right: 5px; / */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
}

.step-answers {
  margin-top: 20px;
}

.card {
  min-height: 370px;
}

.closeButton {
  background-color: var(--primary);
  display: flex;
  position: absolute;
  top: 20px;
  left: -20px !important;
  height: 50px;
  border-radius: 50%;
  width: 50px;
  justify-content: center;
  align-items: center;
  color: #eae9e9;
}

.card p.card-info {
  display: none;
  margin: 20;
  padding: 21px;
}

.question-info-description {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  outline: 0;
  border: none;
  border-left: 1px solid #e0e0e0;
  padding: 1px 24px;
  font-size: 30px;
  color: #eae9e9;
  background-color: white;
  font-style: italic;
}
.card-info-icon {
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic;
  box-sizing: border-box;
}

.card-title {
  font-size: 1.8375rem;
  font-weight: 400;
  /* / line-height: 25px; / */
  margin: auto;
}

.card:hover {
  cursor: pointer;
}

.card:hover h3 {
  color: #f2761a;
}

.card:hover .card-info {
  display: block !important;
  padding-bottom: 30px;
}

.card:hover .card-info-icon {
  display: none;
}

.card .card-select {
  opacity: 0;
}
.optionTitleForType {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600 !important;
}
.card-select,
.card-selected-icon {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
}

.card-select {
  color: #fff;
  left: 0;
  line-height: 54px;
  transition: background-color 0.3s ease;
}

.card:focus:not(.is-selected) .card-select,
.card:hover:not(.is-selected) .card-select {
  opacity: 1;
}

.card:hover .card-select {
  display: block;
}

.card:focus .card-select,
.card:hover .card-select {
  opacity: 1;
  background: #f2761a;
  color: #fff;
}

.card-info-icon {
  border-left: 0;
  height: auto;
  left: 50%;
  bottom: 16px;
  position: absolute;
  right: auto;
  top: auto;
  transform: translateX(-50%);
  width: auto;
  padding: 0;
  color: #bbb;
}

.card-info-icon .help_icon {
  border: none;
}

.chooseCard {
  flex-wrap: wrap;
}

.my-postbox-input #postcode,
.my-postbox-input #dropdown {
  margin-bottom: 10px;
}

/* / search button / */
.searchButton {
  position: absolute;
  width: 100px;
  height: 45px;
  margin: 8px -108px;
  background-color: #f29f5f;
  border: 0;
  color: #ececec;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 10px;
  box-shadow: 26px 0px 15px 0 rgb(0 0 0 / 4%);
}

/* / selector / */
.selectors {
  margin: 17px 0px;
  padding: 15px 10px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: initial;
}

/*Calender*/
#myCalendar {
  width: 100%;
}

.vanilla-calendar .vanilla-calendar-week {
  background-color: #f2761a;
}

.vanilla-calendar .vanilla-calendar-date--selected {
  background-color: #f2761a;
}

.vanilla-calendar .vanilla-calendar-date {
  padding: 30px 0;
}
.numTitle {
  font-size: 2.5rem;
  color: var(--primary);
}
.startHover {
  cursor: pointer;
}

/*Calender ends*/

/*Card types*/

.card-is-2 {
  min-height: 340px;
}

.card-is-2 .card-title h3 {
  font-size: 4rem;
  color: #f2761a;
  margin: 50px 0;
}

.card-is-2 .card-title {
  /*margin-top:40px;*/
}

.card-is-3 {
  min-height: 360px;
  min-width: 120px;
}

.card-is-4 {
  min-height: 260px;
}

.card-is-4 .card-price {
  right: 0;
  height: auto;
  display: block;
  position: absolute;
  background: #f2761a;
  color: #fff;
  padding: 5.5px 11px;
}

.card-is-4:hover h3 {
  color: #2d3d4d;
}

.card-is-num {
  min-height: 180px;
  justify-content: center;
  align-items: center;
}

.card-is-num .card-title h3 {
  font-size: 5.5rem;
  color: var(--primary);
}

/*Success page*/

.step-subtitle .navbar {
  background: #f2f2f2;
  margin: 10px auto;
}

.numCard-Title-heading {
  font-size: 4rem;
  font-weight: 900;
}

.navbar-link.is-active,
a.navbar-item.is-active {
  color: #0a0a0a;
  border-bottom: 2px solid #ccc;
}

.navbar-link.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
a.navbar-item.is-active,
a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover {
  background-color: #fafafa;
  color: #f2761a;
}

.nu-summary-items {
}

.nu-summary-items .navbar {
  border-radius: 12px;
}

.nu-summary-items .navbar span {
  padding: 0 5px;
}

.nu-filter-items {
  margin: 30px auto;
}

.nu-filter-items .nu-filter-inner {
  background: #d2d2d2;
  display: flex;
  flex: 1 0 auto;
  justify-content: space-between;
  border-radius: 12px;
  padding: 8px;
}

.filter-menu-left {
}

.filter-menu-right {
}

.filter-menu-mob {
  display: none;
}

.all-products .columns {
  display: block;
}

.pro-card-inner .columns .first {
  background: #fff2e9;
}

.pro-card-inner .columns .second {
}

.pro-card-inner .columns .third {
  padding: 0 0px 0 20px;
}

.pro-card-inner .columns {
  display: flex;
}

.pro-image .manuf-img {
  left: 16px;
  max-width: 72px;
}

/*.all-products .coloumns .coloumns{display: block;}
.all-products .columns:not(.is-desktop){display: block;}*/
.pro-card-inner {
  background-color: #fff;
  border-radius: 12px;
  border: 4px solid rgba(157, 176, 197, 0.1);
  overflow: hidden;
}

.pro-specs {
}

.pro-specs-row:first-child {
  border-top: 0px solid #eae9e9;
}

.pro-specs-row {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0;
  border-top: 1px solid #eae9e9;
}

.pro-specs-info {
  max-width: 100px;
  display: flex;
}

.pro-specs-info h3 {
  margin-bottom: 5px;
}

.num-info {
  text-align: right;
  min-width: 50px;
}

.num-info h3 {
  margin-bottom: 5px !important;
  color: #f2761a;
}

.num-info p {
  margin-top: 0px;
  font-size: 12px;
}

.pro-specs-info img {
  height: 32px;
  width: 32px;
}

.price-box {
  width: 90%;
  margin: 20px auto;
}

.price-box-inner {
  position: relative;
}

.pro-card-inner .notification {
  margin-bottom: 10px;
}

.price-box-inner .single-price {
  float: left;
  width: 40%;
}

.price-box-inner .single-price h3 {
  margin-bottom: 0px;
}

.price-box-inner .discounted h3 {
  text-decoration: line-through;
  font-weight: bold;
}

.price-box-inner .original-price {
  float: right;
  width: 40%;
}

.price-box-inner .original-price h3 {
  margin-bottom: 0px;
  text-align: right;
  font-weight: bold;
}

.double-price__divider {
  top: 5px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #2d3d4d;
  font-size: 20px;
  line-height: 1.1;
}

.finance-price span {
  font-size: 10px;
  text-align: right;
  float: right;
}

.finance-price h3 {
  color: #00a56f;
}

/*control pages*/
.all-controls {
  padding: 0 100px;
}

.shopping-bar-onlymob {
  display: none;
}

.card-image .image img {
  max-width: 60%;
  margin: 0 auto;
}

.product-card {
  min-height: 400px;
  flex-basis: 233px;
  background: #fff;
  border-radius: 6px;
}

.product-card-selected {
  border: 2px solid #f2761a;
}

.product-card-label {
  position: absolute;
  padding: 2px 0;
  top: 12px;
  left: 50%;
  min-width: 150px;
  transform: translateX(-50%);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #2d3d4d;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.28;
  font-weight: 700;
}

.product-card-additional-info {
  min-height: 21px;
  padding: 0 10px;
}

.addons-basket hr {
  margin: 5px 0;
}

.product-price-box {
  margin: 10px 0 20px 0;
}

.single-price-total {
  font-size: 40px;
  line-height: 1.1;
  font-weight: 700;
  margin-bottom: 5px;
  color: #2d3d4d;
}

.single-price-subtext {
  margin-bottom: 5px;
}

.shopping-basket-items {
}

.shopping-basket-item {
  display: flex;
}

.shopping-basket-item-inner {
  padding: 15px 0;
  display: flex;
  border-bottom: 0.5px dashed;
}

.shopping-basket-item:last-child .shopping-basket-item-inner {
  border: 0px;
  padding-bottom: 30px;
}

.shopping-basket-product {
  display: flex;
  justify-content: space-between;
}

.shopping-basket-product-name {
  font-size: 17px;
  line-height: 1.18em;
  color: #2d3d4d;
  margin-right: 15px;
  flex: 1 1 auto;
  text-align: left;
}

.shopping-basket-product-price {
  font-size: 20px;
  line-height: 1em;
  letter-spacing: 0.4px;
  color: #2d3d4d;
  text-transform: uppercase;
  white-space: nowrap;
}

.change-boiler-back {
  display: flex;
  justify-content: space-between;
}

.change-boiler-back .left-b {
}

.change-boiler-back .right-b {
}

.shopping-basket-item-firstchid {
  border-bottom: 0.5px dashed;
  padding-bottom: 15px;
}

.shopping-basket-item-firstchid .shopping-basket-item-inner {
  border: 0px;
}

/*Summary page*/

.order-summry-box {
  margin: 0 auto;
  max-width: 800px;
}

.order-summry-box-inner {
}

.order-summry-box-inner .notification {
  background: #ffefe4;
  border-radius: 40px;
  min-height: 50px;
}

.summary-list-boxes {
}

.summary-list-box {
  margin: 30px 0;
}

.summary-list-box-inner {
  background: #f5f5f5;
  padding: 20px;
  border-radius: 20px;
}

.summary-list-box-inner a.subtitle {
  color: #f2761a;
}

.promocode-box {
  width: 100%;
  clear: both;
  margin-bottom: 20px;
}

.when-not-toggle .title {
  color: rgba(157, 176, 197, 0.4);
}

.summary-box-inner {
  background: #f5f5f5;
  padding: 30px 20px;
  border-radius: 20px;
}

.summary-calender {
  /*margin:20px 40px; min-height:200px;*/
}

.summary-box-footer {
  padding: 30px 0;
}

.address-confirm-box {
  margin: 40px auto;
  max-width: 680px;
}

.select {
  width: 100%;
}

.select select {
  max-width: 100%;
  width: 100%;
}

.customer-details-box {
  margin: 0 auto;
  max-width: 680px;
}

.property-type-box {
  margin: 0 auto;
  max-width: 680px;
}

.property-type-box {
  background: #f5f5f5;
  border-radius: 6px;
  margin-bottom: 2rem;
}

.property-type-box-inner {
  padding: 25px;
}

input[readonly] {
  background: #f5f5f5;
  border-radius: 6px;
  padding: 20px 10px;
  text-align: center;
  border: 0px;
  color: #363636;
  min-height: 60px;
}

input[readonly]::placeholder {
  color: #363636;
  opacity: 1;
}

.summary-sub {
  margin: 20px 0;
}

.payment-option-box {
  margin: 0 auto;
  max-width: 680px;
}

.payment-option-box-inner {
  padding: 30px 20px;
  border-radius: 20px;
}

.multi-payment-options {
  min-height: 100px;
  margin-bottom: 40px;
}

/*callout page*/

.call-box-co {
  background: #fff;
  padding: 10px;
  margin: 20px;
}

.livechat-box-co {
  background: #fff;
  padding: 10px;
  margin: 20px;
}

.loaderContainer {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: #00000057;
  z-index: 1;
}

.mainLoader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid var(--primary);
  width: 70px;
  height: 70px;
  animation: spin 2s linear infinite;
  display: inline-block;
  position: relative;
  left: 50%;
  z-index: 1;
  top: 43%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*Model popup css*/

.modal-content {
  top: 0;
  margin: 0;
  position: fixed;
  right: 0;
  background: #fff;
  height: 100%;
}

.modal-content .box {
  height: 100%;
  box-shadow: 0 0;
}

#modal-js-example .my-close {
  top: 20px;
  position: fixed;
}

#modal-js-example .my-close .modal-close {
  background: #f2761a;
  height: 50px;
  position: relative;
  right: 0;
  top: 0;
  width: 50px;
}

#modal-js-example .box {
  padding: 8% 8%;
  position: relative;
  height: 100%;
}

#modal-js-example .modal-content {
  max-height: 100vh;
  width: 50%;
}

.closeButton {
  background-color: var(--primary);
  display: flex;
  position: absolute;
  top: 42px;
  height: 50px;
  border-radius: 50%;
  width: 50px;
  justify-content: center;
  align-items: center;
  color: #eae9e9;
  left: -20px;
}

.closeButton:hover {
  background-color: var(--primary);
  cursor: pointer;
}

.modalPara {
  margin: 120px 50px;
  line-height: 2;
}

/*desktop screen*/

@media screen and (min-width: 46.875em) {
  .card:focus,
  .card:hover {
    /* outline: 3px solid var(--primary); */
  }
  .optionTitleForType {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600 !important;
  }
  .title {
    font-size: 12px;
  }

  .currentCard {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
  }
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }

  .step-answer {
    padding: 10px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  }
}

/* .closeButton {
  background-color: #f2761a;
  display: flex;
  position: absolute;
  top:20px;
  left: -15px;
  height: 30px;
  border-radius: 50%;
  width: 30px;
  justify-content: center;
  align-items: center;
  color: #eae9e9;
 
} */
@media screen and (min-width: 23.438em) and (max-width: 46.875em) {
  /* .card:focus,
  .card:hover {
    outline: 3px solid #f2761a;
  } */
  h1 {
    font-size: 10px;
  }

  h3 {
    font-size: 14px;
  }

  .currentCard {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
  }

  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  .step-answer {
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto;
  }
  .step-answers {
    padding: 20px;
    display: grid;
    grid-template-columns: auto;
  }
  .numCards {
    display: grid;
    grid-template-columns: auto auto;
    padding: 20px;
    margin: 60px;
  }
  .step-smallCard {
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto;
  }
  /* .step-answers {
    padding: 10px;
    display:grid;
    grid-template-columns: auto auto ;
  } */

  .optionTitleForType {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600 !important;
  }
}

.closeButton {
  height: 50px;
  max-height: 50px;
  max-width: 50px;
  min-height: 50px;
  min-width: 50px;
  width: 50px;
  position: absolute;
  top: 3px;
  background: var(--primary);
}
/*up to screen 1024*/

@media screen and (max-width: 1023px) {
  .card-is-num .card-title h3 {
    font-size: 4.5rem;
    color: var(--primary);
  }

  .summary-list-box-inner {
    padding: 20px 10px;
  }
  .step-smallCard {
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
  }

  .vanilla-calendar .vanilla-calendar-date {
    padding: 10px 0;
  }
  .currentCard {
    display: grid;
    grid-template-columns: auto;
    padding: 20px;
  }
  .list-items {
    width: 100%;
    float: left;
    margin: 0 0;
    padding: 10px 5px;
  }

  #modal-js-example .modal-content {
    max-height: 100vh;
    width: 50%;
  }

  section.less-pad-mob {
    padding: 1.5rem;
  }

  .nu-filter-items {
    margin: 0px 0;
  }

  .nu-summary-items .navbar {
    min-height: 0px;
  }

  .step-subtitle {
    box-shadow: 0 0;
    padding: 0;
  }

  .filter-menu-left,
  .filter-menu-right {
    display: none;
  }

  .filter-menu-mob {
    display: block;
    width: 100%;
  }

  .filter-menu-mob .is-left {
    float: left;
  }

  .filter-menu-mob .is-right {
    float: right;
  }

  .pro-card-inner .columns {
    display: block;
  }

  .nu-filter-items .nu-filter-inner {
    margin: 0 20px;
  }

  /*control pages*/
  .shopping-bar-onlymob {
    display: block;
    background: #fff;
    border-bottom: 1px solid #ececec;
  }

  .shopping-bar-onlymob .mobile-cart-next {
    width: 100px;
    float: right;
    display: flex;
    gap: 10px;
    margin-right: 10px;
  }

  .cart-item {
    font-size: 21px;
    padding: 5px;
    color: #f2761a;
  }

  .addon-products .box {
  }
}

.step-title {
  margin-bottom: 10px;
}

@media screen and (max-width: 750px) {
  .call-box-co {
    margin: 00px;
  }
  .mainLoader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid var(--primary);
    width: 70px;
    height: 70px;
    animation: spin 2s linear infinite;
    display: inline-block;
    position: relative;
    /* margin-left: 200px; */
    z-index: 1;
    top: 43%;
    left: 50%;
  }
  .numCard-Title-heading {
    font-size: 3rem;
    font-weight: 800;
    padding-left: 12px;
  }
  .copy-bottom-heading {
    font-family: "Sofia Pro Medium";
    font-size: 1.325rem !important;
    font-weight: 700 !important;
    line-height: 1.2;
  }

  .card-is-num .card-title h3 {
    font-size: 2.5rem;
    color: var(--primary);
    padding: 5px 30px;
  }
  .hidden-type-box-desc {
    padding: 10px 15px 20px;
    font-size: 12px;
    text-align: left;
    max-width: 86%;
    border-top: 1px solid #e0e0e0;
  }

  .card:hover .card-info {
    display: none !important;
    padding-bottom: 30px;
  }
  .closeButton {
    height: 50px;
    max-height: 50px;
    max-width: 50px;
    min-height: 50px;
    min-width: 50px;
    width: 50px;
    position: absolute;
    top: 3px;
    background: var(--primary);
  }

  .livechat-box-co {
    padding: 10px;
    margin: 00px;
  }
  .question-info-description:hover {
    background-color: #f2761a;
  }

  .card-is-3 .card-title {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .card-is-3 h3.title {
    font-size: 2rem;
  }

  .card-is-3 p {
    padding: 0px 5px;
  }

  .question-nav {
    display: none;
  }

  .card {
    min-height: auto;
    flex-wrap: wrap;
    align-items: center;
  }

  .card-info-icon .help_icon {
    border: none;
  }

  .card-info-icon {
    border-left: 1px solid #f4f4f4;
    position: relative;
    float: right;
    transform: none;
    width: 10%;
    padding: 0;
    color: #bbb;
    left: 0;
    top: 0;
  }

  .card {
    padding: 0px;
    display: flex;
  }

  .card-title {
    width: 70%;
    /* float: left;  */
    text-align: center;
    /* padding-left: 2%; */
  }

  .card-info {
    padding: 25px;
  }

  .card:hover .card-info-icon {
    display: block !important;
  }

  .card:hover .card-select {
    display: none !important;
  }

  .card:hover .card-info-icon {
    border: 0px;
  }

  .card:hover .card-info {
    padding-bottom: 10px;
    border-top: 1px solid #f4f4f4;
  }

  #modal-js-example .modal-content {
    max-height: 100vh;
    width: 90%;
  }

  #modal-js-example .my-close {
    left: 6%;
  }

  .card-is-4 .card-info-icon {
    display: none;
  }

  .card-is-4 .card-title {
    flex: 1 1;
  }

  .card-is-4 .card-price {
    position: relative;

    padding: 5.5px 11px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    order: 1;
  }

  .card-info-icon .help_icon {
    border: none;
  }

  #Section14 .columns.is-mobile {
    flex-wrap: wrap;
  }
  .step-answer {
    padding: 10px;
    display: grid;
    grid-template-columns: 100%;
  }

  .numCards {
    display: grid;
    grid-template-columns: 100%;
    padding: 20px;
  }
  .optionTitleForType {
    text-align: left;
    font-size: 1.1rem;
    font-weight: 600 !important;
  }
  .card-border-property {
    border-style: solid;
    border-width: 0.9px;
    border-color: #c7c8cd;
    border-radius: none;
  }
}

.order-summary-align-left {
  text-align: left;
}

.order-summary-margin-top {
  margin-top: 12px;
}

.order-summary-margin-top2 {
  margin-top: 50px;
}

.order-margin-right {
  padding-right: 50px;
}

.boiler-img {
  width: 200px;
  height: 200px;
}
@media screen and (max-width: 280px) {
  .step-answer {
    padding: 10px;
    display: grid;
    grid-template-columns: 100%;
  }
}

@media (max-width: 408px) {
  .mainLoader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid var(--primary);
    width: 70px;
    height: 70px;
    animation: spin 2s linear infinite;
    display: inline-block;
    position: relative;
    margin: auto;
    z-index: 1;
    top: 43%;
  }
  .card-info {
    display: none;
  }
  .show-description {
    display: block;
  }
}

/* -------------------new header css------------------------- */
@media (max-width: 767px) {
  nav.navbar_fix {
    position: fixed;
    width: 100%;
    z-index: 100;
  }
  .navbar_fix .navbar-menu.is-active {
    display: flex;
    justify-content: space-between;
  }
  .navbar_fix .cart_icon i {
    font-size: 26px;
    float: right;
    margin: 10px 10px 0 0;
  }
}

/* .navbar_fix .navbar-item {
  width: 50%;
} */
.navbar_fix .navbar-menu.is-active {
  display: flex;
  justify-content: space-between;
}
.navbar_fix .cart_icon i {
  font-size: 26px;
  float: right;
  margin: 10px 10px 0 0;
}
.navbar_fix .cart_icon p.badge {
  background: red;
  width: 20px;
  height: 20px;
  color: white;
  border-radius: 100%;
  text-align: center;
  font-size: 10px;
  position: absolute;
  right: 10px;
  top: 8px;
  font-weight: 600;
  padding: 2px;
  border: 2px solid white;
}
.book-sub-heading {
  font-size: 18px;
}

.navbar-cart {
  display: none;
  align-self: center;
  padding-right: 18px;
  position: relative;
}

.navbar-cart-num {
  position: absolute;
  top: -18px;
  right: 5px;
  background-color: #d53a36;
  color: white;
  padding: 3px;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-cart-num-9plus {
  font-size: 12px;
}

@media (max-width: 1023px) {
  .navbar-cart {
    display: inline-block;
  }
}

.valve-adjust {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.radiator-adjust {
  padding-top: 0rem !important;
  padding-bottom: 3rem !important;
}

@media (max-width: 766px) {
  .valve-adjust {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
  }
  .radiator-adjust {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
  }
}
