.FinanceContainer {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.5s;
  overflow: auto;
  transition: all 0.3s linear;
  border-radius: 5px;
}

.FinanceModal {
  margin: auto;
  /* height: 550px; */
  background-color: #fefefe;
  padding: 25px;
  border-radius: 4px;
  max-width: 500px;
  position: relative;
}

#pDivider {
  height: 0.2px;
  width: 100%;
  background-color: "#e3e8e6";
}

.paymentBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icontick {
  height: 5rem;
  width: 2.5rem;
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

.FinanceModalCloseBtn {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  padding-right: 20px;
  padding-top: 20px;
}
