.mainModalContainer {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;

  background-color: #00000066;
}
.button.my-custom-color {
  background-color: #fb6058;
  color: white;
}
.modalContainer {
  background-color: #fff;
  box-shadow: 0 29px 14px 0 rgb(0 0 0 / 4%);
  position: absolute;
  height: 99vh;
  width: 40vw;
  z-index: 1;
  padding-top: 30px;
  padding-left: 30px;
  top: 0;
  right: 0;
  /* overflow:scroll */
}
.sub-container {
  display: flex;
  /* justify-content: center; */
  gap: 20px;
  width: 500px;
}

@media screen and (max-width: 280px) {
  .modalContainer {
    background-color: #fff;
    box-shadow: 0 29px 14px 0 rgb(0 0 0 / 4%);
    position: absolute;
    height: 99vh;
    width: 100vw;
    z-index: 1;
    top: 0;
    right: 0;
  }

  .modalPara {
    font-size: 4px;
    text-align: left;
  }
  .text {
    font-size: 12px;
  }
}

@media screen and (max-width: 393px) {
  .modalContainer {
    background-color: #fff;
    box-shadow: 0 29px 14px 0 rgb(0 0 0 / 4%);
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    padding-top: 0px;
    padding-left: 0px;
    top: 0;
    right: 0;
    overflow-y: scroll;
  }
  .modalContainer {
    background-color: #fff;
    box-shadow: 0 29px 14px 0 rgb(0 0 0 / 4%);
    position: absolute;
    height: 100vh;
    width: 100vw;
    align-items: center;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-y: scroll;
  }
  .modalPara {
    font-size: 2px;
    text-align: center;
  }
  .text {
    font-size: 14px;
  }
  .mainModalContainer {
    display: grid;
    grid-template-columns: auto;
  }
}

@media screen and (max-width: 769px) {
  .modalContainer {
    background-color: #fff;
    box-shadow: 0 29px 14px 0 rgb(0 0 0 / 4%);
    position: absolute;
    height: 100vh;
    width: 80vw;
    z-index: 1;
    top: 0;
    right: 0;
    overflow: auto;
  }
  .modalPara {
    font-size: 14px;
    text-align: left;
  }
}
