.main-container {
  width: 700px;
  display: grid;

  flex-wrap: wrap;
  grid-template-columns: auto auto;
}
.sub-container {
  width: 320px;
  margin-top: 18px;
}

@media screen and (max-width: 1200px) {
  .card-Container {
    margin-left: 2px;
  }

  .productCart {
    display: flex;
    flex-direction: column;
    float: left;
  }
}

@media screen and (max-width: 1080px) {
  .card-Container {
    margin-left: 2px;
  }

  .productCart {
    display: flex;
    flex-direction: column;
    float: left;
  }
}
@media screen and (max-width: 661px) {
  .card-Container {
    margin-left: 2px;
  }

  .productCart {
    display: flex;
    flex-direction: column;
    float: left;
  }
}



.product-card:hover{
  border: 2px solid orange;
  /* box-shadow: 2px 4px 8px rgb(236, 228, 228); */

}
