


/* control css */ 


.title-sec h2{
  font-size: 28px;
  margin-bottom: 10px;
  font-weight: 600;
}

.title-sec p{
  font-size: 18px;
}

.is-max-desktop{
  max-width: 1400px;
  margin: auto;
  padding: 0 15px;
}

.control-box {
  background: white;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  position: relative;
}

/*  */

.control-box:hover{
  box-shadow: 4px 5px 25px #80808014;
}

.control-more-info-btn{
  color: #6b7280;
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}

/*  */

.control-more-info-btn i{
  font-size: 22px;
  color: #6b7280;
}

.imagebox{
  display: flex;
  margin: auto;
  justify-content: center;
  margin-top: 30px;
}

.imagebox img{
  height: 150px;
}

.control-desk{
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  align-items: center;
}



/* .Toastify{
  display: none;
} */

.control-price {
  font-size: 26px;
  font-weight: 700;
}

.header-sec{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.control-add {
  background: var(--primary);
  border: none;
  padding: 5px 5px 5px 20px;
  font-size: 18px;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
}

.control-remove{
  background: #dc3545;
  border: none;
  padding: 5px 5px 5px 20px;
  font-size: 18px;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
}

.control-add:hover{
  background: var(--accent);
}

.product-card-selected .control-add{
  background: var(--accent);
}

.control-add i{
  background: white;
  padding: 8px;
  min-width: 34px;
  border-radius: 50%;
}


.control-add span{
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}


.control-remove i{
  background: white;
  padding: 8px;
  min-width: 34px;
  border-radius: 50%;
}


.control-remove span{
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.control-warranty {
  font-size: 20px;
}

.control-name{
      margin-top: 15px;
      padding-top: 15px;
      border-top: solid 1px #d8dadd;
      font-size: 20px;
      font-weight: 600;
}

.product-card-selected{
  border: none !important;
  scale: 1.02;
  box-shadow: 2px 2px 15px #80808014;
}

.new-title-sec{
  text-align: left;
  margin-bottom: 30px;
  border-bottom: solid 1px #80808030;
  padding-bottom: 30px;
}

.price-summery-box{
  position: sticky;
  top: 0;
  background: white;
  padding: 30px;
  border-radius: 20px;
}

/* button */


.main-btn-sec{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

button{
  padding: 5px 5px 5px 26px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* button i {
  background: white;
  padding: 15px;
  border-radius: 50%;
} */


.basket{
  background-color: var(--accent);
  color: white;
  border: solid 2px var(--accent);
}

.basket span{
  color: white;
}

.basket:hover span{
  color: var(--text-color);
}

.basket:hover{
  background-color: var(--white);
  color: var(--accent);
  border: solid 2px var(--accent);
}


.home-survey{
  background-color: var(--primary);
  color: var(--white);
  border: solid 2px var(--primary);

}

.home-survey:hover{
  background-color: var(--white);
  color: var(--primary);
  border: solid 2px var(--primary);

}

.price-box-features p{
  background: #fef9c3;
  padding: 15px 20px;
  margin-top: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: start;
  gap: 20px;
  font-size: 18px;
  align-items: center;
}

.price-box-features i{
  font-size: 26px;
}

.smalltext{
  font-size: 16px;
  margin-top: 10px;
}

.shopping-basket-item-inner{
  font-size: 20px;
  color: var(--text-color);
}

.shopping-basket-item {
  display: flex;
  justify-content: space-between;
  grid-gap: 10px;
  gap: 10px;
  margin-top: 16px;
  border-bottom: 1px dashed #80808078;
  padding-bottom: 16px;
  font-size: 18px;
}

.shopping-basket-item-sec, .left-b {
  display: flex;
  gap: 10px;
  align-items: center;
}

.shopping-basket-item-sec i{
  color: var(--primary);
}

@media only screen and (max-width: 700px) {

  .title-sec h2 {
    font-size: 20px;
    margin-bottom: 15x;
    padding: 0;
}

.price-summery-box{
  padding: 20px;
}

.valve-sec{
  margin: .75rem!important;
}

}



/* radiator css */

.r-imagebox img{
  border-radius: 15px 15px 0 0 ;
}

.r-title-sec{
  border-bottom: none !important;
}

.r-img-sec{
  background-color: var(--gray);
  border-radius: 15px;
  padding: 0 !important;
}

.helpchooseSpanText{
  color: var(--primary) ;
}

.r-text-box{
  display: flex !important;
  grid-gap: 10px;
  gap: 10px;
  background: var(--gray);
  margin: 10px;
  border-radius: 10px;
  margin-bottom: 16px !important;
}

.r-text-box i{
  color: var(--primary);
  margin-top: 3px;
}

.r-input {
  height: 100% !important;
}

/* valve css */

.valve-sec {
  background: white;
  height: 100%;
  border-radius: 20px;
  display: flex !important;
  gap: 20px;
}