.wrapper-1 {
  height: initial;
  max-width: 620px;
  padding: 30px 0px;
  margin: 0 auto;
  border-radius: 20px;
  margin-top: 50px;
}
.wrapper-2 {
  padding: 30px;
  text-align: center;
}
.thank_heading {
  font-size: 4em;
  color: #48c78e;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.thank_heading img {
  width: 52px;
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
}
.wrapper-2 p {
  margin: 0;
  font-size: 16px;
  color: #aaa;
}
.go-home {
  color: #fff;
  background: #fb6058;
  border: none;
  padding: 10px 50px;
  margin: 30px 0;
  border-radius: 30px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}
.footer-like {
  margin-top: auto;
  background: #d7e6fe;
  padding: 6px;
  text-align: center;
}
.footer-like p {
  margin: 0;
  padding: 4px;
  color: #5892ff;
  letter-spacing: 1px;
}
.footer-like p a {
  text-decoration: none;
  color: #5892ff;
  font-weight: 600;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  to {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.thanku_topper {
  max-width: 400px;
  width: 100%;
  margin: 12px auto 0;
}

@media (min-width: 360px) {
  h1 {
    font-size: 4.5em;
  }
  .go-home {
    margin-bottom: 20px;
  }
}

@media (min-width: 600px) {
  .content {
    max-width: 1000px;
    margin: 0 auto;
  }
  .wrapper-1 {
    height: initial;
    max-width: 620px;
    margin: 0 auto;
    margin-top: 50px;
  }
}
