/* @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap"); */

body {
  font-family: "Sofia Pro Light" !important;
  margin: 0;
  /* font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(224, 224, 224);
  line-height: 1.2;
}

@font-face {
  font-family: "Sofia Pro Light";
  src: url("./assets/font/SofiaProLight.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sofia Pro Medium";
  src: url("./assets/font/Sofia\ Pro\ Medium.woff");
  font-weight: normal;
  font-style: normal;
}

.heading-bold {
  font-family: "Sofia Pro Medium";
  font-size: 2.25rem !important;
  font-weight: 700 !important;
  line-height: 1.2;
}

.card-title-subheader {
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.card-Container {
  display: flex;

  justify-content: space-between;
}
.productCart {
  display: grid;
  grid-template-columns: repeat(2, 400px);
}
.cardContent {
  min-height: 500px;
  text-align: center;
}

/* Chiranjiv Custom Css */
.PhoneInputInput {
  border: none;
  outline: none;
}

.formInput {
  font-size: medium;
}

.modalPadding {
  padding: 10px;
}
