@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    color: var(--text-color);
    transition: 0.2s;
    font-family: 'Inter', sans-serif;
}



:root {
    --primary: #3e56c4;
    --second-primary: #182068;
    --text-color: #2d3d4d;
    --accent: #009a68;
    --gray: #f3f4f6;
    --white: #ffffff;
}

option {
    background: white !important;
}


/* nav css start =============================================================================== */

nav{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.70) 70%);
}

.nav-bar{
    max-width: 1800px;
    margin: auto;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tabs-sec a{
    color: var(--text-color);
    text-decoration: none;
    background-color: var(--gray);
    padding: 8px 20px;
    border-radius: 10px;
    font-size: 18px;
    opacity: 0.9;
    font-weight: 500;
}

.tabs-sec a:hover{
    color: var(--white);
    background-color: var(--primary);
}

.tabs-sec .is-active{
    background-color: var(--primary);
    color: white;
    opacity: 1;
}

.back-button{
    background-color: var(--gray);
    border: none;
    padding: 5px 10px 9px 5px;
    border-radius: 5px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    text-transform: capitalize;
    cursor: pointer;
}

.back-button:hover{
    background: var(--primary);
    color: var(--white);
}
.back-button:hover span{
    color: var(--white);
}

.back-button i{
    background: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: -4px;
}

.tabs-sec{
    display: flex;
    gap: 20px;
}

.cart-sec a{
    font-size: 24px;
}
.cart-sec a i:hover{
    color: var(--primary) !important;
}

.mobile-nav-sec, .mobile-help{
    display: none;
}


@media only screen and (max-width: 700px) {

    .main-sec{
        padding-top: 80px;
    }

    .tabs-sec{
        width: 100%;
    }

    .back-button i {
        padding: 5px 5px;
    }

    .cart-sec{
        display: flex;
    }

    .mobile-help{
        display: block;
        margin: 0;
    }

    .mobile-help i{
        margin-right: 10px !important;
    }

    .nav-bar {
        padding: 5px;
        gap: 10px;
    }
    
    .back-button {
        display: flex;
        flex-direction: column;
        border-radius: 0;
        background: white;
        border-right: solid 1px var(--gray);
        gap: 0px;
        font-size: 18px;
    }

    .tab-button{
        display: none;
    }

    .mobile-nav-sec{
        display: block;
        font-size: 18px;
    }

    .cart-button{
        display: none;
    }

    .back-text{
        display: none;
    }

    .mobile-help i{
        margin-right: 20px;
        color: var(--primary);
    }


}


