.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
.inform {
  padding: 10px;
  margin-top: 20px;
}
.spanText {
  color: var(--primary);
}
.input {
  padding: 11px;
  border: 2px;
  display: block;

  margin-bottom: 10px;
  border: 1px solid #dad5d5;
  border-radius: 3px;
  padding-left: 8px;
  box-shadow: 0 0 4pt 0.5pt #d3d3d3;
}
.formHeading {
  margin-bottom: -5px;
}

.formCard {
  border: 2px solid #dad5d5;
  border-radius: 1px;
  float: center;
  background-color: white;
  margin-bottom: 14px;
  box-shadow: 0 0 4pt 0.5pt #d3d3d3;
}

.formCard h1 {
  color: #fff;
  background-color: var(--primary);
  margin-top: initial;
  font-weight: Georgia, serif;
  text-align: start;
  padding: 10px;
  font-size: 24px;
}

.paragraph {
  float: center;
  padding: 20px;
  box-shadow: 0 0 4pt 0.5pt #d3d3d3;
  background-color: white;
}

.paragraph p {
  font-size: 13px;
  text-align: left;
}

.formCheck {
  margin: 0px 20px 10px -9px;
  font-size: 15px;
  accent-color: #fb6058;
}

.geekmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: green;
}

.formButton {
  background-color: #fb6058;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  padding: 8px 35px;
}
.formButton p {
  display: flex;
  width: 100px;
  /* height: 35px; */
  justify-content: center;
  align-items: center;
  color: #fff;
}
.inputBox {
  position: relative;
}

.formButton:hover {
  background-color: #e69b62;
}

.validation_error {
  background-color: red;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-size: 13px;
  text-align: start;
  margin: -10px 0px 5px 8px;
  position: absolute;
  top: 19px;
  right: 10px;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: rgb(246, 151, 78);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
