@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  transition: 0.2s;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p button {
  font-family: "Inter", sans-serif !important;
}

body {
  background-color: var(--gray);
  min-height: 100vh;
}
.main-sec {
  padding: 0 15px;
}

:root {
  --primary: #0011ff;
  --second-primary: #182068;
  --text-color: #2d3d4d;
  --accent: #009a68;
  --gray: #f5f7f9;
  --white: #ffffff;
}

option {
  background: white !important;
}

.display-none {
  display: none !important;
}

.main-sec:before {
  content: "";
  width: 500px;
  height: 500px;
  background: var(--primary);
  position: fixed;
  z-index: 1;
  top: 18%;
  right: 0%;
  opacity: 0.1;
  filter: blur(100px);
}

.title-sec,
nav,
.product-sec,
.filter-main-sec {
  position: relative;
  z-index: 40;
}

/* nav css start =============================================================================== */

nav {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.7) 70%
  );
}

.nav-bar {
  max-width: 1800px;
  margin: auto;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tabs-sec a {
  color: var(--text-color);
  text-decoration: none;
  background-color: var(--gray);
  padding: 8px 20px;
  border-radius: 10px;
  font-size: 18px;
  opacity: 0.9;
  font-weight: 500;
}

.tabs-sec a:hover {
  color: var(--white);
  background-color: var(--primary);
}

.tabs-sec .is-active {
  background-color: var(--primary);
  color: white;
  opacity: 1;
}

.back-button {
  background-color: var(--gray);
  border: none;
  padding: 5px 10px 9px 5px;
  border-radius: 5px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  text-transform: capitalize;
  cursor: pointer;
}

.back-button:hover {
  background: var(--primary);
  color: var(--white);
}
.back-button:hover span {
  color: var(--white);
}

.back-button i {
  background: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: -4px;
}

.tabs-sec {
  display: flex;
  gap: 20px;
}

.cart-sec a {
  font-size: 24px;
}
.cart-sec a i:hover {
  color: var(--primary) !important;
}

.mobile-nav-sec,
.mobile-help {
  display: none;
}

@media only screen and (max-width: 700px) {
  .main-sec {
    padding-top: 80px;
  }

  .tabs-sec {
    width: 100%;
  }

  .back-button i {
    padding: 5px 5px;
  }

  .cart-sec {
    display: flex;
  }

  .mobile-help {
    display: block;
    margin: 0;
  }

  .mobile-help i {
    margin-right: 10px !important;
  }

  .nav-bar {
    padding: 5px;
    gap: 10px;
  }

  .back-button {
    display: flex;
    flex-direction: column;
    border-radius: 0;
    background: white;
    border-right: solid 1px var(--gray);
    gap: 0px;
    font-size: 18px;
  }

  .tab-button {
    display: none;
  }

  .mobile-nav-sec {
    display: block;
    font-size: 18px;
  }

  .cart-button {
    display: none;
  }

  .back-text {
    display: none;
  }

  .mobile-help i {
    margin-right: 20px;
    color: var(--primary);
  }
}

/* title css start =============================================================================== */

.number-of-boiler {
  font-weight: 600;
}

@media only screen and (max-width: 700px) {
  .title-sec {
    margin-top: 4%;
    margin-bottom: 4%;
  }

  .title-sec h2 {
    font-size: 24px;
    padding: 0px 40px;
  }
}

/* filter section css start =============================================================================== */

.filter-main-sec {
  max-width: 1500px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  gap: 20px;
  margin-top: 15px;
  flex-wrap: wrap;
}

.short-sec h2 {
  font-size: 28px;
}

.filter-top-main-sec {
  max-width: 1500px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  grid-gap: 20px;
  gap: 20px;
  padding: 15px 0;
  border-bottom: solid 1px #80808059;
}

.select:not(.is-multiple) {
  height: 2.5em;
  padding: 0 20px;
  max-width: 174px;
}

.filter-second-main-sec {
  margin: auto;
  max-width: 1500px;
  position: relative;
  z-index: 40;
}

.left-side-options,
.right-side-options {
  display: flex;
  gap: 10px;
  align-items: center;
}

.filter-button {
  padding: 10px 20px;
  border: solid #3c3c3c4a 1px;
  border-radius: 203px;
  background-color: white;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  grid-gap: 15px;
  grid-gap: 10px;
  gap: 10px;
}

.filter-button i {
  color: var(--primary);
}

.filter-button:hover {
  border: solid --primary 1px;
  background-color: var(--primary);
  color: var(--white);
}

.filter-button:hover i,
.filter-button:hover span {
  color: var(--white);
}

.save-quote-top {
  background-color: var(--primary);
  color: white;
}

.save-quote-top i {
  color: white;
}

.start-button {
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  grid-gap: 5px;
  padding: 4px;
}

.start-button:hover i {
  transform: rotate(-120deg);
}

.desk-btn-text {
  display: block;
}

.mobile-btn-text {
  display: none;
}

.top-right-side-options {
  display: flex;
  gap: 5px;
}

@media only screen and (max-width: 700px) {
  .desk-btn-text {
    display: none;
  }

  .mobile-btn-text {
    display: block;
  }

  .short-sec h2 {
    font-size: 22px;
  }

  .filter-main-sec {
    flex-wrap: wrap;
    padding: 0;
    gap: 10px;
    background: transparent;
  }

  .right-side-options,
  .left-side-options {
    gap: 5px;
    flex-wrap: wrap;
  }

  .filter-button {
    height: 40px;
    font-size: 14px;
    min-width: 48% !important;
    text-wrap: nowrap;
    margin: 2px 0;
  }

  .select:not(.is-multiple) {
    height: 2.8em;
  }
}

/* product box section css start =============================================================================== */

.product-sec {
  margin: auto;
  max-width: 1500px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.7) 70%
  );
  padding: 30px;
  margin-top: 30px;
  border-radius: 15px;
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.image-sec {
  width: 28%;
  position: relative;
  padding: 20px 20px 20px 0px;
  border-right: solid 3px var(--gray);
}

.product-img {
  display: flex;
}

.brand-img-sec img {
  position: absolute;
  top: -10px;
  width: 80px;
  left: 0;
}

.product-img img {
  max-width: 300px;
  margin: auto;
  margin-top: 10px;
  min-height: 370px;
  object-fit: contain;
}

.dimensions-sec {
  display: flex;
  gap: 10px;
  justify-content: center;
  background-color: var(--gray);
  padding: 12px 15px;
  border: #eceef3 solid 1px;
  border-radius: 10px;
  font-size: 16px;
  align-items: center;
}

.dimensions-sec img {
  max-width: 20px;
}

.detail-sec {
  width: 38%;
}

.detail-sec h2 {
  margin-bottom: 20px !important;
  text-transform: capitalize;
  color: var(--text-color);
}

.detail-sec p {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 12px;
  color: #2d3d4dcc !important;
  line-height: 1.6;
}

.product-tags-sec {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  text-transform: capitalize;
}

.product-tag {
  background-color: var(--primary);
  padding: 5px 20px 5px 14px;
  border-radius: 50px;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 10px;
  gap: 5px;
  font-size: 15px;
}

.product-tag i {
  color: white;
}

.more-info {
  text-transform: capitalize;
  text-decoration: underline;
  font-weight: 600;
  color: var(--primary);
}

.spec-sec {
  padding: 20px;
  border: dashed 2px var(--gray);
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.spec-inner-sec {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
}

.specs {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 20px;
}

.specs i {
  color: var(--primary);
}

.price-sec {
  background: var(--white);
  width: 30%;
  padding: 20px;
  border-radius: 10px;
}

.w-inc,
.monthly-price {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.monthly-price span {
  color: var(--primary);
  font-weight: 700;
}

.w-inc a {
  text-decoration: underline;
  color: var(--primary);
  font-weight: 700;
}

.main-price-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.fixed-price {
  font-size: 44px;
  font-weight: 600;
}

.save-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.corssed-price {
  text-decoration: line-through;
}

.corssed-price,
.saved-price {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.saved-price {
  color: var(--accent);
  text-transform: uppercase;
}

.main-btn-sec {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

.main-btn-sec button {
  padding: 5px 5px 5px 26px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.main-btn-sec button i {
  background: white;
  padding: 15px;
  border-radius: 50%;
  width: 51px;
}

.basket {
  background-color: var(--accent);
  color: white;
  border: solid 2px var(--accent);
}

.basket span {
  color: white;
}

.basket:hover span {
  color: var(--text-color);
}

.basket:hover {
  background-color: var(--white);
  color: var(--accent);
  border: solid 2px var(--accent);
}

.save-quote {
  border: solid 2px var(--text-color);
  color: var(--text-color);
}

.save-quote:hover {
  border: solid 2px var(--text-color);
  color: var(--white);
  background-color: var(--text-color);
}

.home-survey {
  background-color: var(--primary);
  color: var(--white);
  border: solid 2px var(--primary);
}

.home-survey:hover {
  background-color: var(--white);
  color: var(--primary);
  border: solid 2px var(--primary);
}

.dimensions-mobile {
  display: none;
}

@media only screen and (max-width: 700px) {
  .product-sec {
    flex-direction: column;
    padding: 16px;
    gap: 15px;
  }

  .image-sec,
  .price-sec,
  .detail-sec {
    width: 100%;
  }

  .image-sec {
    border: none;
    padding: 0;
  }

  .dimensions-sec {
    font-size: 8px;
    padding: 6px;
  }

  .detail-sec h2 {
    font-size: 30px !important;
    margin-bottom: 8px !important;
  }

  .product-tag {
    padding: 5px 12px 5px 8px;
    gap: 6px;
  }

  .detail-sec p {
    font-size: 16px;
    line-height: 1.4;
  }

  .spec-sec {
    padding: 10px;
  }

  .specs {
    gap: 10px;
    font-size: 16px;
  }

  .spec-inner-sec {
    font-size: 14px;
  }

  .w-inc,
  .monthly-price {
    font-size: 15px;
  }

  .fixed-price {
    font-size: 32px;
  }

  .corssed-price,
  .saved-price {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
  }

  .price-sec {
    padding: 20px 14px;
  }

  .main-btn-sec button {
    padding: 3px 3px 3px 17px;
    font-size: 18px;
  }

  .main-btn-sec button i {
    padding: 10px;
    width: 40px;
  }

  .main-btn-sec {
    gap: 10px;
    margin-top: 20px;
  }

  .dimensions-sec img {
    max-width: 20px;
  }

  .dimensions-desk {
    display: none;
  }

  .dimensions-mobile {
    display: flex;
  }

  .main-sec:before {
    display: none;
  }

  nav,
  .product-sec {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.7) 70%
    );
  }
}

@media only screen and (max-width: 1272px) {
  .product-img img {
    max-width: 100%;
  }

  .main-price-sec {
    gap: 5px;
  }

  .fixed-price {
    font-size: 36px;
  }

  .detail-sec p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1024px) {
  .product-sec {
    flex-wrap: wrap;
  }

  .image-sec {
    width: 40%;
  }

  .detail-sec {
    width: 56%;
  }

  .price-sec {
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .image-sec,
  .detail-sec,
  .price-sec {
    width: 100%;
  }

  .product-img img {
    max-width: 200px;
    min-height: auto;
  }
}

/* new css to hide */

.nu-filter-inner {
  display: none !important;
}

.modal {
  z-index: 100 !important;
}

/* Checkout css */

.customer-details-box input,
.customer-details-box select {
  height: auto !important;
}

.checkout-box {
  background: white;
  margin-bottom: 20px;
  padding: 25px;
  border-radius: 20px;
}

.checkout-lable {
  display: flex;
  gap: 20px;
  font-size: 22px;
  align-items: center;
}

.checkout-flex-box {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.checkout-lable i {
  font-size: 20px;
  background: var(--primary);
  color: white;
  padding: 14px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkout-edit p {
  background: white;
  border: solid 1px #8080802b;
  background: #f5f7f9;
  padding: 7px 20px;
  border-radius: 50px;
  text-transform: capitalize;
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.tag-poins {
  background: var(--gray);
  padding: 16px;
  border-radius: 15px;
  display: flex;
  grid-gap: 15px;
  grid-gap: 10px;
  gap: 10px;
  font-size: 16px;
  width: 32%;
}

.tag-poins i {
  font-size: 40px;
  color: var(--primary);
}

.tag-poins-box {
  display: flex;
  grid-gap: 10px;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.new-summary-list-box-inner {
  background: #f5f7f9;
  padding: 30px;
  border-radius: 15px;
}

.list-items {
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 20px;
  justify-content: space-between;
  text-align: right;
  font-size: 18px;
  border-bottom: 1px dashed #0000001f;
}

.list-items-price {
  display: flex;
  align-items: center;
  padding: 20px 5px;
  gap: 20px;
  justify-content: space-between;
  text-align: right;
  font-size: 20px;
}

.item-icon {
  width: 64%;
  display: flex;
  grid-gap: 20px;
  gap: 20px;
  align-items: center;
}

.item-icon img {
  max-width: 200px;
  width: 18%;
  padding: 12px;
  border-radius: 10px;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.quantity-text {
  text-transform: lowercase;
  font-size: 16px;
  margin-right: 10px;
}

.item-icon strong {
  font-weight: 500;
  color: var(--text-color);
}

.checkout-price-heading {
  font-weight: 600;
  color: var(--text-color);
}

.checkout-price-text {
  font-size: 30px;
  color: var(--primary);
  font-weight: bold;
}

.promocode-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px #80808042;
  padding-bottom: 20px !important;
}

.tag-poins-icon {
  background: white;
  padding: 15px;
  border-radius: 10px;
}

.installation-time-take {
  font-size: 20px;
  background: #f5f7f9;
  max-width: 500px;
  margin: 30px auto;
  border-radius: 10px;
}

.installer-box {
  padding: 30px;
  border-radius: 10px;
  background-color: var(--gray);
}

.second-installer-box {
  padding: 20px;
  display: flex;
  margin-top: 20px;
  gap: 20px;
  border-radius: 10px;
  align-items: center;
  font-size: 16px;
  text-align: left;
  border: solid 1px var(--primary);
}
.second-installer-box i {
  font-size: 30px;
  color: var(--primary);
}

.summary-box {
  margin: 0 auto;
  max-width: 500px;
}

.less-pad-mob {
  padding: 1.5rem !important;
  max-width: 1200px;
  margin: auto;
}

.address-edit {
  background: white;
  border: solid 1px #8080802b;
  background: #f5f7f9;
  padding: 7px 20px;
  border-radius: 50px;
  text-transform: capitalize;
  grid-gap: 5px;
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.customer-details-box {
  margin: 0 auto;
  max-width: 680px;
  background: #f5f7f9;
  padding: 30px;
  border-radius: 10px;
}

.customer-details-box input,
.customer-details-box select {
  max-width: 100% !important;
  height: auto !important;
}

.pay-option-box {
  background: #f5f7f9;
  width: 100%;
  align-items: center;
  border-radius: 10px;
  padding: 20px !important;
  font-size: 20px;
  margin-bottom: 14px;
  gap: 20px;
}

.pay-option-box .is-flex {
  gap: 20px;
}

.pay-option-box input {
  width: 50px;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .less-pad-mob {
    padding: 0.5rem !important;
    padding-top: 85px !important;
  }

  .tag-poins {
    width: 100%;
  }

  .checkout-box {
    padding: 5px;
  }

  .checkout-box .p-4 {
    padding: 5px !important;
  }

  .tag-poins i {
    font-size: 22px;
  }

  .tag-poins-icon {
    padding: 12px;
  }

  .new-summary-list-box-inner {
    padding: 10px;
  }

  .list-items {
    text-align: left;
    gap: 10px;
    padding: 15px 5px;
  }

  .item-icon {
    width: 100%;
    display: flex;
    gap: 10px;
  }
  .item-icon img {
    padding: 0;
  }

  .item-price {
    width: 30%;
  }

  .item-price strong {
    text-wrap: nowrap;
  }

  .list-items-price {
    text-align: left;
  }

  .checkout-price-heading {
    font-size: 20px;
  }

  .right-info {
    width: 56%;
    text-align: right;
    padding-right: 20px;
  }

  .promocode-box {
    margin-bottom: 10px;
  }

  .installation-time-take {
    font-size: 16px;
  }
}
